



.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}



a {
    text-decoration: none
}

/* all button style start */
.button-style {

    border: 1.5px solid rgb(193, 186, 186);
    border-radius: 5px;
    height: 28px;
    text-align: center;
    padding: 3px 5px;
    margin: 5px;

}

.button-style:hover {
    border: 1.5px solid rgb(93, 91, 91);
}

/* all button style end */

/* Introduction page style */
.introduction-style {
    margin-top: 300px;
    text-align: center;
    height: 600px;
    padding-left: 15%;
    padding-right: 15%;
    
}

#introduction-name-style {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10px;
}

#introduction-logo-style {
    margin-top: 80px;
}

#introduction-logo-style img {
    height: 20px;
    width: 20px;
}

/* end home design */
